*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.dashboard
{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #f4f6f8;
    font-family: sans-serif;
}


.navlink
{
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;


}
.sidebar
{
    display: flex;
    flex-direction: column;
    flex:0 0 240px;
    background-color: #1e293b;
    color: white;
    padding: 20px;
}

.logo
{
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;

}
.main-wrapper
{

    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;

}
.top-header
{
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #e2e8f0;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-weight: 60px;
}

.scroll-area
{
    flex: 1;
   padding: 30px;
   overflow-y: auto;
   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.card
{
    height: 200px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e2e8f0;
}

footer
{
    display: flex;
    background-color: #1e293b;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #e2e8f0;
}

.menu .navlink a
{
    text-decoration: none;
    color: white;
}

.fun
{
    background-color: #1e293b;
    height: 100vh;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    
}